<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="description" content="Simple RPG web application"/>
  <meta name="keywords" content="RPG"/>
  <meta name="author" content="Michał (psysiu) Wójcik"/>
  <title>Simple RPG</title>
  <link rel="stylesheet" href="../../styles.css"/>
  <link rel="stylesheet" href="view_harbor.css"/>
  <script src="../../script.js" defer="defer"></script>
  <script src="view_harbor.js" defer="defer"></script>
</head>
<body>
<div class="container">
  <header class="header">
    <h1>Simple RPG</h1>
  </header>

  <nav class="navigation-bar">
    <ul>
      <li><a href="../../index.html">Home</a></li>
      <li><a href="../list/list_harbors.html">Harbors</a></li>
    </ul>
  </nav>

  <section class="main-section">
    <article class="text--justified">
      <header><h2><span id="name">harbor's name</span></h2></header>
      <div class="character__grid">
        <div class="character__level_profession">
          Code <span id="code">XXX</span>
        </div>
        <div class="harbors_capacity">Capacity <span id="capacity">0</span></div>
        <div class="harbors_budget">Budget <span id="budget">0</span></div>
        <div class="harbors_country">Country <span id="country">Unknown</span></div>
      </div>
    </article>
  </section>

  <footer class="footer">
    <p>Copyright &copy; 2022, Łukasz Niedźwiadek</p>
  </footer>
</div>
</body>
</html>
