<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Shipyard web application"/>
    <meta name="keywords" content="RPG"/>
    <meta name="author" content="Michał (psysiu) Wójcik"/>
    <title>Shipyard</title>
    <link rel="stylesheet" href="../../styles.css"/>
    <link rel="stylesheet" href="view_ship.css"/>
    <script src="../../script.js" defer="defer"></script>
    <script src="view_ship.js" defer="defer"></script>
</head>
<body>
<div class="container">
    <header class="header">
        <h1>Shipyard</h1>
    </header>

    <nav class="navigation-bar">
        <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="../../harbors/list/list_harbors.html">Harbors</a></li>
        </ul>
    </nav>

    <section class="main-section">
        <article class="text--justified">
            <header><h2><span id="name">ship's name</span></h2></header>
            <div class="ship__grid">
                <div class="ships_id">ID <span id="id">0</span></div>
                <div class="ships_completionDate">Completion Date <span id="completionDate">0000-00-00</span></div>
                <div class="ships_cost">Cost <span id="cost">0</span></div>
            </div>
        </article>
    </section>

    <footer class="footer">
        <p>Copyright &copy; 2022, Łukasz Niedźwiadek</p>
    </footer>
</div>
</body>
</html>
